/**
 * Custom variables followed by theme variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Theme functions
@import 'theme/functions';

// Custom variables
@import 'custom-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import 'custom-bootstrap';

// Theme core
@import 'theme/theme';

.quotation {
  position: relative;
  quotes: '“' '”';

  &:before,
  &:after {
    position: absolute;
    color: lighten($primary, 20%);
    font-size: 3rem;
  }

  &:before {
    content: open-quote;
    top: 0;
    left: 0;
  }

  &:after {
    content: close-quote;
    right: 0;
    top: auto;
    bottom: 0;
  }
}
